/vendor/
/http_request/http_phpstrom/http-client.private.env.json
#composer.lock
.idea
.env
Doc.txt
#public_html/storage
#public_html/hot
#
#storage/*.key
#Homestead.yaml
#Homestead.json
#/.vagrant
#.phpunit.result.cache
#node_modules/
#npm-debug.log
#yarn-error.log